In [1]:
# Load some sample datasets
import pickle
with open('dataframes.pkl', 'rb') as f:
    dataframes=pickle.load(f)

In [2]:
persons=dataframes['persons']
purchases=dataframes['purchases']
companies=dataframes['companies']

In [3]:
# Question 1
# Get a list of all companies that Barbara Johnson has worked at

In [4]:
import pandas as pd
df=pd.merge(persons,companies,on="ssn")
reduced_df=df[(df["first_name"]=="Barbara") & (df["last_name"]=="Johnson")]
reduced_df["company"]

0             Anderson-Holmes
1             Carroll-Jackson
2    Sloan, Moreno and Chaney
Name: company, dtype: object

In [5]:
# Question 2
# Who hasn't made a purchase yet?
# One answer, using an inner join
df=pd.merge(persons,purchases,how="inner",on="credit_card_number")
people_who_did=df["ssn"]
persons[~persons["ssn"].isin(people_who_did)].head()

# Another answer, using left join
df=pd.merge(persons,purchases,how="left",on="credit_card_number")
df[df["purchase_id"].isnull()].head()

,first_name,last_name,ssn,address,credit_card_number,purchase_id,price,isbn10,credit_card_provider
2,Pamela,Anderson,894-27-8020,"073 Adam River\nEast Charlesside, NY 73957",3551490253547855,NaN,NaN,NaN,NaN
9,Karen,Mcguire,768-37-9066,"7243 Glenn Brooks\nBrownside, OR 45417",3523509632164440,NaN,NaN,NaN,NaN
21,Laurie,Herman,044-96-2847,"PSC 3637, Box 0679\nAPO AA 25981",30362487677872,NaN,NaN,NaN,NaN
22,Joshua,Thompson,555-30-7328,"004 Megan Views\nRamosburgh, ID 74422",502076034615,NaN,NaN,NaN,NaN
27,Karen,White,538-23-6556,"5522 Rivas Pass Suite 846\nSouth Tabithastad, ...",5295580064344405,NaN,NaN,NaN,NaN

In [6]:
import numpy as np

# Question 3
# For everyone who bought something, what's the average price they paid?
df=pd.merge(persons,purchases,how="left",on="credit_card_number")
df=df[~df["purchase_id"].isnull()]

results=pd.DataFrame()
for ssn in df["ssn"].unique():
    # Get the purchases for just this person
    this_person=df[df["ssn"]==ssn]
    # Calculate the average for this person
    average=np.mean(this_person["price"])
    results=results.append(pd.DataFrame([{"ssn":ssn,"avg":average}]))
results.head()
# ug. This feels, janky at best. And what's with that lame loop?

           ssn    avg
0  604-68-1002  363.0
0  584-90-8083  615.0
0  164-81-5139  384.5
0  076-40-4313  455.5
0  424-27-5547  777.0

In [7]:
# Question 4
# Create a DataFrame of company name to ISBN indicating which companies may have reiumbersed people for 
# certain purchases

pd.merge(
    pd.merge(persons,purchases,how="inner",on="credit_card_number")[["ssn","isbn10"]],
    companies,
    how="inner",
    on="ssn"
)[["company","isbn10"]]

                         company         isbn10
0                Anderson-Holmes  0-7075-2301-X
1                Carroll-Jackson  0-7075-2301-X
2       Sloan, Moreno and Chaney  0-7075-2301-X
3                Anderson-Holmes  0-00-606905-3
4                Carroll-Jackson  0-00-606905-3
..                           ...            ...
981                  Terry Group  1-84612-052-7
982                  Scott Group  0-412-09066-X
983              Owens-Velasquez  0-263-83188-4
984  Johnson, Chapman and Wagner  1-5348-6711-2
985               White and Sons  0-04-776079-6

[986 rows x 2 columns]